@model COMP2084BeerStore.Models.Product

@{
    ViewData["Title"] = "Product Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SKU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SKU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlcoholContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlcoholContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
           @if (Model.Photo != null)
           {
            <img src="~/img/product-uploads/@Model.Photo" alt="Product Photo" />
           }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<form method="post" action="/Store/AddToCart" class="offset-2">
    <!-- hidden field for the selected product Id-->
    <input type="hidden" id="ProductId" name="ProductId" value="@Model.Id" />
    <div class="form-group">
        <label class="control-label" for="Quantity">Quantity: </label>
        <input name="Quantity" id="Quantity" required min="1" max="99999" type="number" class="input-small" />
    </div>
    <button class="btn btn-primary">Add to Cart</button>
</form>
<a href="javascript:history.go(-1);"><< Back</a>
